<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>log4j configuration file</description>
        <param-name>log4j-config</param-name>
        <param-value>WEB-INF/log4j.xml</param-value>
    </context-param>
    <filter>
        <description>login</description>
        <filter-name>Auth</filter-name>
        <filter-class>servlets.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/transaccion/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.auth.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>servlets.auth.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCategoria</servlet-name>
        <servlet-class>servlets.controller.categoria.CrearCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProductos</servlet-name>
        <servlet-class>servlets.controller.producto.ListarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearProducto</servlet-name>
        <servlet-class>servlets.controller.producto.CrearProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoDetalle</servlet-name>
        <servlet-class>servlets.controller.producto.ProductoDetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarAlCarrito</servlet-name>
        <servlet-class>servlets.controller.carrito.AgregarAlCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCarrito</servlet-name>
        <servlet-class>servlets.controller.carrito.ListarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDelCarrito</servlet-name>
        <servlet-class>servlets.controller.carrito.EliminarDelCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTransaccion</servlet-name>
        <servlet-class>servlets.controller.transaccion.CrearTransaccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTransaccion</servlet-name>
        <servlet-class>servlets.controller.transaccion.ListarTransaccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarDetallesTransaccion</servlet-name>
        <servlet-class>servlets.controller.transaccion.ListarDetallesTransaccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilUsuario</servlet-name>
        <servlet-class>servlets.auth.PerfilUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCompraServlet</servlet-name>
        <servlet-class>servlets.controller.compra.CrearCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moverProducto</servlet-name>
        <servlet-class>servlets.controller.producto.MoverProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCategoria</servlet-name>
        <url-pattern>/categoria/crear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProductos</servlet-name>
        <url-pattern>/productos/listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearProducto</servlet-name>
        <url-pattern>/producto/crear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoDetalle</servlet-name>
        <url-pattern>/producto/detalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarAlCarrito</servlet-name>
        <url-pattern>/carrito/agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCarrito</servlet-name>
        <url-pattern>/carrito/listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDelCarrito</servlet-name>
        <url-pattern>/carrito/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTransaccion</servlet-name>
        <url-pattern>/transaccion/crear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTransaccion</servlet-name>
        <url-pattern>/transaccion/historial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarDetallesTransaccion</servlet-name>
        <url-pattern>/transaccion/detalles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilUsuario</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCompraServlet</servlet-name>
        <url-pattern>/compra/crear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moverProducto</servlet-name>
        <url-pattern>/moverProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>800</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
